<a href="https://colab.research.google.com/github/gylam/siads696-sprsum2024-team05/blob/main/1_api_retrieval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Document retrieval**
<br>
Goal: Retrieve all English non-text documents containing themes - output table with document text and associated theme labels

In [ ]:
import pandas as pd
import numpy as np
import requests
import time
import os
from bs4 import BeautifulSoup
import warnings
import typing

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
warnings.filterwarnings('ignore')

In [ ]:
## URLs for API calls

# Uses profile for API calls, includes all following filters
url_base = 'https://api.reliefweb.int/v1/reports?appname=apidoc&profile=full&filter[operator]=AND'
# Sort by ascending document ID
url_sort = '&sort[]=id:asc'
# Filter for English language reports
url_lang = '&filter[conditions][0][field]=language.id&filter[conditions][0][value]=267'
# Exclude non-text formats (Infographic, Interactive, Map, Other)
url_format1 = '&filter[conditions][1][field]=format.id&filter[conditions][1][value][]=12570&filter[conditions][1][value][]=12'
url_format2 = '&filter[conditions][1][value][]=9&filter[conditions][1][value][]=38974&filter[conditions][1][operator]=OR&filter[conditions][1][negate]=true'

In [ ]:
# Constants
base_path = '/content/drive/MyDrive/_Course materials/S5M1-2 696 - Milestone II/Milestone 2 shared folder/data/'

In [ ]:
def extract_docs(doc_limit: int = 1000, tot_docs: int = None) -> int:
  """ Call API to extract all English-language text documents with themes
      Inputs:
        - doc_limit: Number of documents to retrieve at a time (default and max is 1000)
        - tot_docs: Total number of documents to retrieve (default is to retrieve all matching results)
      Output:
        - doc_df: Dataframe containing document text and themes
  """

  # Set counter to track number of iterations until reach last set of documents
  counter = 0
  doc_df_created = False
  report_num = 0

  # Initializing df to store all documents from current API call
  curr_df = pd.DataFrame(columns = ['report_id', 'theme_id', 'theme_name', 'text'])

  # If no limit to tot_docs is specified, initially set to doc_limit
  if tot_docs == None:
    tot_docs = doc_limit
    tot_docs_bool = False
  else:
    tot_docs_bool = True

  # URL to indicate number of documents to return and how many to offset by
  url_lim = f'&limit={doc_limit}&offset='

  # Call API until all documents have been retrieved
  while counter*doc_limit <= tot_docs:
    print(f"counter = {counter} with {counter*doc_limit} documents elapsed")

    # Make API request
    if counter == 0:
      full_url = url_base + url_sort + url_lang + url_lim + str(counter*doc_limit)
    else:
      full_url = url
    response = requests.get(full_url, stream = True)

    # Check that valid API call was made
    if response.status_code == 200:
      # If so, convert JSON output into dictionary
      try:
        rw_dict = response.json()
      except Exception as e:
        print(f'Error with retrieving API: {e}')
        time.sleep(1)
        continue

    # For first iteration, update total number of documents to retrieve
    if tot_docs_bool == False:
      tot_docs = rw_dict["totalCount"]

    # Extract fields from all retrieved reports into a list
    all_reports_data=[]
    # For all API calls except for last call, retrieve doc_limit documents
    if abs(tot_docs - counter*doc_limit) >= doc_limit:
      for i in np.arange(int(doc_limit)):
        all_reports_data.append(rw_dict['data'][i]['fields'])
    # For last set of reports, retrieve all remaining reports
    else:
      for i in np.arange(int(abs(tot_docs - counter*doc_limit))):
        all_reports_data.append(rw_dict['data'][i]['fields'])

    # For each extracted report, attempt to extract theme and other relevant fields
    for data_num, data in enumerate(all_reports_data):
      try:
        theme_id = []
        theme_name = []

        # Extract themes as a single list into 1 row
        temp_theme_list = data['theme']
        theme_id.append([theme['id'] for theme in temp_theme_list])
        theme_name.append([theme['name'] for theme in temp_theme_list])

        ## Create report text df
        report_id = [data['id']]
        # Extract body - clean up HTML tags
        body_col = data['body']
        soup_body = BeautifulSoup(body_col, 'lxml')
        text = soup_body.get_text().replace('\n', ' ')
        # Extract title - clean up HTML tags
        title_col = data['title']
        soup_title = BeautifulSoup(title_col, 'lxml')
        title = soup_title.get_text().replace('\n', ' ')
        # Combine title and text into a single column
        combined_text = title + ' ' + text

        # Store current URL, unless reach final set of documents
        if abs(tot_docs - counter*doc_limit) >= doc_limit:
          current_url = [list(rw_dict['links']['next'].values())[0]]
        else:
          current_url = ['']

        # Store country information, document date, source name/id, format
        latitude = [data['primary_country']['location']['lat']]
        longitude = [data['primary_country']['location']['lon']]
        country_iso3 = [data['primary_country']['iso3']]
        country_name = [data['primary_country']['name']]
        date_created = [data['date']['created']]
        source_id = [str(data['source'][0]['id'])]
        source_name = [data['source'][0]['name']]
        format = [data['format'][0]['name']]

        # Create dataframe from extracted fields
        df_text = pd.DataFrame(list(zip(report_id, theme_id, theme_name, [title], [text], [combined_text],
                                        [data['url']], latitude, longitude, country_iso3,
                                        country_name, date_created, source_id, source_name, format )),
                               columns = ['report_id', 'theme_id', 'theme_name', 'title', 'text', 'combined_text',
                                          'url', 'latitude', 'longitude', 'country_iso3','country_name',
                                          'date_created', 'source_id', 'source_name', 'format'])
        # Add column with word count
        df_text['word_count'] = df_text['combined_text'].apply(lambda x: len(str(x).split(' ')))

        # Update curr_df to store all documents from current API call so far
        curr_df = pd.concat([curr_df, df_text]) #df_merged

        # Update url for next report API call (unless reached last set of documents)
        if abs(tot_docs - counter*doc_limit) >= doc_limit:
          url= list(rw_dict['links']['next'].values())[0]
        else:
          url = ['']

      except Exception as e:
        print(f'Error (in report extraction) {e}')
        # Update url for next API call
        url = list(rw_dict['links']['next'].values())[0]

    # Increment counter for tracking number of reports added to dataframe
    counter += 1

    try:
      # Drop rows that are non-text formats
      curr_df = curr_df[(curr_df['format'] != 'Map') & (curr_df['format'] != 'Interactive') & \
                        (curr_df['format'] != 'Infographic') & (curr_df['format'] != 'Other')]
      curr_df = curr_df.dropna()
      curr_df = curr_df.reset_index().drop('index', axis = 1)

      # When reach at least 1000 documents in curr_df, save to pickle and reset
      curr_report_num = len(curr_df['report_id'].unique())
      if curr_report_num >= 1000:
        # Add current number of reports to report_num
        report_num += curr_report_num

        # Save current df to pickle
        curr_df.to_pickle(base_path + 'gl_files_v2/gl_pickle_' + str(curr_report_num) + 'docs_' + str(counter*doc_limit) + '.pickle')

        # Reset curr_df
        curr_df = pd.DataFrame(columns = ['report_id', 'theme_id', 'theme_name', 'text'])

    except Exception as e:
      print(f'Error (in appending curr_df) {e}')
      continue

  return report_num

In [ ]:
output = extract_docs(1000)
#print(f"output.shape: {output.shape} with {len(output['report_id'].unique())} unique documents")
print(f'number of unique documents: {output}')

Initial args: doc_limit = 1000, tot_docs = None
counter = 0 with 0 documents elapsed
counter = 1 with 1000 documents elapsed
counter = 2 with 2000 documents elapsed
counter = 3 with 3000 documents elapsed
counter = 4 with 4000 documents elapsed
counter = 5 with 5000 documents elapsed
counter = 6 with 6000 documents elapsed
counter = 7 with 7000 documents elapsed
counter = 8 with 8000 documents elapsed
counter = 9 with 9000 documents elapsed
counter = 10 with 10000 documents elapsed
counter = 11 with 11000 documents elapsed
counter = 12 with 12000 documents elapsed
counter = 13 with 13000 documents elapsed
counter = 14 with 14000 documents elapsed
counter = 15 with 15000 documents elapsed
counter = 16 with 16000 documents elapsed
counter = 17 with 17000 documents elapsed
counter = 18 with 18000 documents elapsed
counter = 19 with 19000 documents elapsed
counter = 20 with 20000 documents elapsed
counter = 21 with 21000 documents elapsed
counter = 22 with 22000 documents elapsed
counter = 23 with 23000 documents elapsed
counter = 23 with 23000 documents elapsed
counter = 24 with 24000 documents elapsed
counter = 24 with 24000 documents elapsed
counter = 24 with 24000 documents elapsed
counter = 25 with 25000 documents elapsed
counter = 25 with 25000 documents elapsed
counter = 26 with 26000 documents elapsed
counter = 27 with 27000 documents elapsed
counter = 28 with 28000 documents elapsed
counter = 29 with 29000 documents elapsed
counter = 30 with 30000 documents elapsed
counter = 31 with 31000 documents elapsed
counter = 32 with 32000 documents elapsed
counter = 33 with 33000 documents elapsed
counter = 34 with 34000 documents elapsed
counter = 34 with 34000 documents elapsed
counter = 35 with 35000 documents elapsed
counter = 36 with 36000 documents elapsed
counter = 37 with 37000 documents elapsed
counter = 38 with 38000 documents elapsed
counter = 39 with 39000 documents elapsed
counter = 40 with 40000 documents elapsed
counter = 41 with 41000 documents elapsed
counter = 42 with 42000 documents elapsed
counter = 43 with 43000 documents elapsed
counter = 44 with 44000 documents elapsed
counter = 44 with 44000 documents elapsed
counter = 45 with 45000 documents elapsed
counter = 46 with 46000 documents elapsed
counter = 47 with 47000 documents elapsed
counter = 48 with 48000 documents elapsed
curr_df.shape after drop: (903, 16)
counter = 49 with 49000 documents elapsed
curr_df.shape after drop: (951, 16)
counter = 50 with 50000 documents elapsed
curr_df.shape after drop: (1003, 16)
# unique reports in curr_df: 1003 >= 1000
total number of reports: 1003
counter = 51 with 51000 documents elapsed
counter = 52 with 52000 documents elapsed
counter = 53 with 53000 documents elapsed
counter = 53 with 53000 documents elapsed
counter = 54 with 54000 documents elapsed
counter = 55 with 55000 documents elapsed
counter = 56 with 56000 documents elapsed
counter = 57 with 57000 documents elapsed
counter = 58 with 58000 documents elapsed
counter = 58 with 58000 documents elapsed
counter = 58 with 58000 documents elapsed
counter = 58 with 58000 documents elapsed
counter = 59 with 59000 documents elapsed
counter = 60 with 60000 documents elapsed
counter = 61 with 61000 documents elapsed
counter = 61 with 61000 documents elapsed
counter = 62 with 62000 documents elapsed
counter = 63 with 63000 documents elapsed
counter = 64 with 64000 documents elapsed
counter = 64 with 64000 documents elapsed
curr_df.shape after drop: (986, 16)
counter = 65 with 65000 documents elapsed
curr_df.shape after drop: (1077, 16)
# unique reports in curr_df: 1077 >= 1000
total number of reports: 2080
counter = 66 with 66000 documents elapsed
counter = 66 with 66000 documents elapsed
counter = 66 with 66000 documents elapsed
counter = 66 with 66000 documents elapsed
counter = 67 with 67000 documents elapsed
counter = 68 with 68000 documents elapsed
counter = 68 with 68000 documents elapsed
counter = 68 with 68000 documents elapsed
counter = 68 with 68000 documents elapsed
counter = 68 with 68000 documents elapsed
counter = 69 with 69000 documents elapsed
counter = 69 with 69000 documents elapsed
counter = 69 with 69000 documents elapsed
counter = 69 with 69000 documents elapsed
counter = 70 with 70000 documents elapsed
counter = 70 with 70000 documents elapsed
counter = 70 with 70000 documents elapsed
counter = 70 with 70000 documents elapsed
counter = 70 with 70000 documents elapsed
counter = 70 with 70000 documents elapsed
counter = 70 with 70000 documents elapsed
counter = 71 with 71000 documents elapsed
counter = 72 with 72000 documents elapsed
counter = 72 with 72000 documents elapsed
counter = 73 with 73000 documents elapsed
counter = 74 with 74000 documents elapsed
counter = 74 with 74000 documents elapsed
counter = 75 with 75000 documents elapsed
counter = 76 with 76000 documents elapsed
counter = 76 with 76000 documents elapsed
counter = 76 with 76000 documents elapsed
counter = 76 with 76000 documents elapsed
counter = 76 with 76000 documents elapsed
counter = 77 with 77000 documents elapsed
counter = 77 with 77000 documents elapsed
counter = 78 with 78000 documents elapsed
counter = 79 with 79000 documents elapsed
counter = 79 with 79000 documents elapsed
counter = 80 with 80000 documents elapsed
counter = 80 with 80000 documents elapsed
counter = 80 with 80000 documents elapsed
curr_df.shape after drop: (902, 16)
counter = 81 with 81000 documents elapsed
curr_df.shape after drop: (948, 16)
counter = 82 with 82000 documents elapsed
counter = 82 with 82000 documents elapsed
curr_df.shape after drop: (987, 16)
counter = 83 with 83000 documents elapsed
counter = 83 with 83000 documents elapsed
counter = 83 with 83000 documents elapsed
counter = 83 with 83000 documents elapsed
counter = 83 with 83000 documents elapsed
curr_df.shape after drop: (1037, 16)
# unique reports in curr_df: 1037 >= 1000
total number of reports: 3117
counter = 84 with 84000 documents elapsed
counter = 85 with 85000 documents elapsed
counter = 85 with 85000 documents elapsed
counter = 85 with 85000 documents elapsed
counter = 85 with 85000 documents elapsed
counter = 86 with 86000 documents elapsed
counter = 86 with 86000 documents elapsed
counter = 86 with 86000 documents elapsed
counter = 86 with 86000 documents elapsed
counter = 86 with 86000 documents elapsed
counter = 86 with 86000 documents elapsed
counter = 86 with 86000 documents elapsed
counter = 87 with 87000 documents elapsed
counter = 88 with 88000 documents elapsed
counter = 88 with 88000 documents elapsed
counter = 89 with 89000 documents elapsed
curr_df.shape after drop: (1003, 16)
# unique reports in curr_df: 1003 >= 1000
total number of reports: 4120
counter = 90 with 90000 documents elapsed
counter = 90 with 90000 documents elapsed
counter = 90 with 90000 documents elapsed
counter = 90 with 90000 documents elapsed
counter = 91 with 91000 documents elapsed
counter = 91 with 91000 documents elapsed
counter = 92 with 92000 documents elapsed
curr_df.shape after drop: (1225, 16)
# unique reports in curr_df: 1225 >= 1000
total number of reports: 5345
counter = 93 with 93000 documents elapsed
counter = 94 with 94000 documents elapsed
counter = 94 with 94000 documents elapsed
counter = 94 with 94000 documents elapsed
counter = 94 with 94000 documents elapsed
counter = 94 with 94000 documents elapsed
curr_df.shape after drop: (1047, 16)
# unique reports in curr_df: 1047 >= 1000
total number of reports: 6392
counter = 95 with 95000 documents elapsed
counter = 95 with 95000 documents elapsed
counter = 95 with 95000 documents elapsed
counter = 96 with 96000 documents elapsed
counter = 96 with 96000 documents elapsed
curr_df.shape after drop: (988, 16)
counter = 97 with 97000 documents elapsed
counter = 97 with 97000 documents elapsed
curr_df.shape after drop: (1493, 16)
# unique reports in curr_df: 1493 >= 1000
total number of reports: 7885
counter = 98 with 98000 documents elapsed
counter = 99 with 99000 documents elapsed
counter = 99 with 99000 documents elapsed
counter = 99 with 99000 documents elapsed
curr_df.shape after drop: (943, 16)
counter = 100 with 100000 documents elapsed
counter = 100 with 100000 documents elapsed
counter = 100 with 100000 documents elapsed
counter = 100 with 100000 documents elapsed
counter = 100 with 100000 documents elapsed
counter = 100 with 100000 documents elapsed
counter = 100 with 100000 documents elapsed
curr_df.shape after drop: (1397, 16)
# unique reports in curr_df: 1397 >= 1000
total number of reports: 9282
counter = 101 with 101000 documents elapsed
counter = 102 with 102000 documents elapsed
counter = 102 with 102000 documents elapsed
counter = 103 with 103000 documents elapsed
counter = 103 with 103000 documents elapsed
curr_df.shape after drop: (1293, 16)
# unique reports in curr_df: 1293 >= 1000
total number of reports: 10575
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 104 with 104000 documents elapsed
counter = 105 with 105000 documents elapsed
curr_df.shape after drop: (928, 16)
counter = 106 with 106000 documents elapsed
counter = 106 with 106000 documents elapsed
counter = 106 with 106000 documents elapsed
curr_df.shape after drop: (1373, 16)
# unique reports in curr_df: 1373 >= 1000
total number of reports: 11948
counter = 107 with 107000 documents elapsed
counter = 107 with 107000 documents elapsed
counter = 107 with 107000 documents elapsed
counter = 108 with 108000 documents elapsed
counter = 109 with 109000 documents elapsed
curr_df.shape after drop: (1353, 16)
# unique reports in curr_df: 1353 >= 1000
total number of reports: 13301
counter = 110 with 110000 documents elapsed
counter = 110 with 110000 documents elapsed
counter = 111 with 111000 documents elapsed
counter = 111 with 111000 documents elapsed
curr_df.shape after drop: (989, 16)
counter = 112 with 112000 documents elapsed
counter = 112 with 112000 documents elapsed
counter = 112 with 112000 documents elapsed
counter = 112 with 112000 documents elapsed
counter = 112 with 112000 documents elapsed
curr_df.shape after drop: (1552, 16)
# unique reports in curr_df: 1552 >= 1000
total number of reports: 14853
counter = 113 with 113000 documents elapsed
counter = 113 with 113000 documents elapsed
counter = 114 with 114000 documents elapsed
curr_df.shape after drop: (919, 16)
counter = 115 with 115000 documents elapsed
curr_df.shape after drop: (1387, 16)
# unique reports in curr_df: 1387 >= 1000
total number of reports: 16240
counter = 116 with 116000 documents elapsed
counter = 116 with 116000 documents elapsed
counter = 117 with 117000 documents elapsed
counter = 118 with 118000 documents elapsed
curr_df.shape after drop: (1284, 16)
# unique reports in curr_df: 1284 >= 1000
total number of reports: 17524
counter = 119 with 119000 documents elapsed
counter = 120 with 120000 documents elapsed
curr_df.shape after drop: (920, 16)
counter = 121 with 121000 documents elapsed
counter = 121 with 121000 documents elapsed
counter = 121 with 121000 documents elapsed
curr_df.shape after drop: (1374, 16)
# unique reports in curr_df: 1374 >= 1000
total number of reports: 18898
counter = 122 with 122000 documents elapsed
counter = 123 with 123000 documents elapsed
curr_df.shape after drop: (914, 16)
counter = 124 with 124000 documents elapsed
counter = 124 with 124000 documents elapsed
curr_df.shape after drop: (1349, 16)
# unique reports in curr_df: 1349 >= 1000
total number of reports: 20247
counter = 125 with 125000 documents elapsed
counter = 126 with 126000 documents elapsed
counter = 127 with 127000 documents elapsed
curr_df.shape after drop: (1197, 16)
# unique reports in curr_df: 1197 >= 1000
total number of reports: 21444
counter = 128 with 128000 documents elapsed
counter = 129 with 129000 documents elapsed
counter = 130 with 130000 documents elapsed
curr_df.shape after drop: (1209, 16)
# unique reports in curr_df: 1209 >= 1000
total number of reports: 22653
counter = 131 with 131000 documents elapsed
counter = 132 with 132000 documents elapsed
counter = 132 with 132000 documents elapsed
counter = 132 with 132000 documents elapsed
counter = 132 with 132000 documents elapsed
counter = 133 with 133000 documents elapsed
curr_df.shape after drop: (1049, 16)
# unique reports in curr_df: 1049 >= 1000
total number of reports: 23702
counter = 134 with 134000 documents elapsed
counter = 135 with 135000 documents elapsed
counter = 136 with 136000 documents elapsed
curr_df.shape after drop: (984, 16)
counter = 137 with 137000 documents elapsed
curr_df.shape after drop: (1403, 16)
# unique reports in curr_df: 1403 >= 1000
total number of reports: 25105
counter = 138 with 138000 documents elapsed
counter = 139 with 139000 documents elapsed
counter = 140 with 140000 documents elapsed
curr_df.shape after drop: (1082, 16)
# unique reports in curr_df: 1082 >= 1000
total number of reports: 26187
counter = 141 with 141000 documents elapsed
counter = 141 with 141000 documents elapsed
counter = 142 with 142000 documents elapsed
counter = 143 with 143000 documents elapsed
curr_df.shape after drop: (1234, 16)
# unique reports in curr_df: 1234 >= 1000
total number of reports: 27421
counter = 144 with 144000 documents elapsed
counter = 145 with 145000 documents elapsed
counter = 146 with 146000 documents elapsed
curr_df.shape after drop: (1265, 16)
# unique reports in curr_df: 1265 >= 1000
total number of reports: 28686
counter = 147 with 147000 documents elapsed
counter = 148 with 148000 documents elapsed
counter = 148 with 148000 documents elapsed
counter = 149 with 149000 documents elapsed
curr_df.shape after drop: (1244, 16)
# unique reports in curr_df: 1244 >= 1000
total number of reports: 29930
counter = 150 with 150000 documents elapsed
counter = 151 with 151000 documents elapsed
counter = 152 with 152000 documents elapsed
curr_df.shape after drop: (1067, 16)
# unique reports in curr_df: 1067 >= 1000
total number of reports: 30997
counter = 153 with 153000 documents elapsed
counter = 154 with 154000 documents elapsed
counter = 154 with 154000 documents elapsed
counter = 155 with 155000 documents elapsed
curr_df.shape after drop: (1058, 16)
# unique reports in curr_df: 1058 >= 1000
total number of reports: 32055
counter = 156 with 156000 documents elapsed
counter = 156 with 156000 documents elapsed
counter = 157 with 157000 documents elapsed
counter = 158 with 158000 documents elapsed
curr_df.shape after drop: (924, 16)
counter = 159 with 159000 documents elapsed
curr_df.shape after drop: (1264, 16)
# unique reports in curr_df: 1264 >= 1000
total number of reports: 33319
counter = 160 with 160000 documents elapsed
counter = 161 with 161000 documents elapsed
counter = 162 with 162000 documents elapsed
curr_df.shape after drop: (935, 16)
counter = 163 with 163000 documents elapsed
curr_df.shape after drop: (1284, 16)
# unique reports in curr_df: 1284 >= 1000
total number of reports: 34603
counter = 164 with 164000 documents elapsed
counter = 164 with 164000 documents elapsed
counter = 165 with 165000 documents elapsed
counter = 166 with 166000 documents elapsed
counter = 167 with 167000 documents elapsed
curr_df.shape after drop: (1161, 16)
# unique reports in curr_df: 1161 >= 1000
total number of reports: 35764
counter = 168 with 168000 documents elapsed
counter = 169 with 169000 documents elapsed
counter = 170 with 170000 documents elapsed
curr_df.shape after drop: (1223, 16)
# unique reports in curr_df: 1223 >= 1000
total number of reports: 36987
counter = 171 with 171000 documents elapsed
counter = 172 with 172000 documents elapsed
counter = 173 with 173000 documents elapsed
curr_df.shape after drop: (1184, 16)
# unique reports in curr_df: 1184 >= 1000
total number of reports: 38171
counter = 174 with 174000 documents elapsed
counter = 175 with 175000 documents elapsed
counter = 175 with 175000 documents elapsed
counter = 176 with 176000 documents elapsed
curr_df.shape after drop: (1160, 16)
# unique reports in curr_df: 1160 >= 1000
total number of reports: 39331
counter = 177 with 177000 documents elapsed
counter = 178 with 178000 documents elapsed
counter = 179 with 179000 documents elapsed
counter = 179 with 179000 documents elapsed
curr_df.shape after drop: (1343, 16)
# unique reports in curr_df: 1343 >= 1000
total number of reports: 40674
counter = 180 with 180000 documents elapsed
counter = 181 with 181000 documents elapsed
counter = 182 with 182000 documents elapsed
curr_df.shape after drop: (1205, 16)
# unique reports in curr_df: 1205 >= 1000
total number of reports: 41879
counter = 183 with 183000 documents elapsed
counter = 183 with 183000 documents elapsed
counter = 184 with 184000 documents elapsed
curr_df.shape after drop: (902, 16)
counter = 185 with 185000 documents elapsed
curr_df.shape after drop: (1372, 16)
# unique reports in curr_df: 1372 >= 1000
total number of reports: 43251
counter = 186 with 186000 documents elapsed
counter = 187 with 187000 documents elapsed
counter = 188 with 188000 documents elapsed
curr_df.shape after drop: (1402, 16)
# unique reports in curr_df: 1402 >= 1000
total number of reports: 44653
counter = 189 with 189000 documents elapsed
counter = 190 with 190000 documents elapsed
counter = 191 with 191000 documents elapsed
curr_df.shape after drop: (1288, 16)
# unique reports in curr_df: 1288 >= 1000
total number of reports: 45941
counter = 192 with 192000 documents elapsed
counter = 192 with 192000 documents elapsed
counter = 193 with 193000 documents elapsed
curr_df.shape after drop: (924, 16)
counter = 194 with 194000 documents elapsed
counter = 194 with 194000 documents elapsed
counter = 194 with 194000 documents elapsed
curr_df.shape after drop: (1368, 16)
# unique reports in curr_df: 1368 >= 1000
total number of reports: 47309
counter = 195 with 195000 documents elapsed
counter = 196 with 196000 documents elapsed
counter = 196 with 196000 documents elapsed
curr_df.shape after drop: (944, 16)
counter = 197 with 197000 documents elapsed
curr_df.shape after drop: (1359, 16)
# unique reports in curr_df: 1359 >= 1000
total number of reports: 48668
counter = 198 with 198000 documents elapsed
counter = 199 with 199000 documents elapsed
counter = 200 with 200000 documents elapsed
curr_df.shape after drop: (1192, 16)
# unique reports in curr_df: 1192 >= 1000
total number of reports: 49860
counter = 201 with 201000 documents elapsed
counter = 202 with 202000 documents elapsed
counter = 203 with 203000 documents elapsed
curr_df.shape after drop: (1185, 16)
# unique reports in curr_df: 1185 >= 1000
total number of reports: 51045
counter = 204 with 204000 documents elapsed
counter = 204 with 204000 documents elapsed
counter = 204 with 204000 documents elapsed
counter = 205 with 205000 documents elapsed
counter = 206 with 206000 documents elapsed
curr_df.shape after drop: (1112, 16)
# unique reports in curr_df: 1112 >= 1000
total number of reports: 52157
counter = 207 with 207000 documents elapsed
counter = 208 with 208000 documents elapsed
counter = 209 with 209000 documents elapsed
curr_df.shape after drop: (1200, 16)
# unique reports in curr_df: 1200 >= 1000
total number of reports: 53357
counter = 210 with 210000 documents elapsed
counter = 211 with 211000 documents elapsed
counter = 212 with 212000 documents elapsed
curr_df.shape after drop: (1194, 16)
# unique reports in curr_df: 1194 >= 1000
total number of reports: 54551
counter = 213 with 213000 documents elapsed
counter = 214 with 214000 documents elapsed
counter = 215 with 215000 documents elapsed
curr_df.shape after drop: (1063, 16)
# unique reports in curr_df: 1063 >= 1000

KeyError: 'next'

In [ ]:
# Function to read in all pickle files and concatenate to dataframe
def read_pickles(base_path):
  dir_list = os.listdir(base_path)
  df = pd.DataFrame(columns = ['report_id', 'theme_id', 'theme_name', 'title', 'text', 'combined_text',
                               'url', 'latitude', 'longitude', 'country_iso3','country_name',
                               'date_created', 'source_id', 'source_name', 'format', 'word_count'])

  for filename in dir_list:
    path = f'{base_path}/{filename}'
    df_new = pd.read_pickle(path)
    # Update df
    df= pd.concat([df, df_new])
  return df

df = read_pickles(base_path+'gl_files_v2/')
print(df.shape)
display(df.head())

# Save full data frame to pickle file
df.to_pickle(base_path + 'gl_full_pickle.pickle')

(459937, 16)

,report_id,theme_id,theme_name,title,text,combined_text,url,latitude,longitude,country_iso3,country_name,date_created,source_id,source_name,format,word_count
0,10365,[4590],[Coordination],The MFEWS Central America Weather Hazards and ...,Note: document is two pages,The MFEWS Central America Weather Hazards and ...,https://reliefweb.int/node/10365,17.22,-88.69,blz,Belize,2008-07-23T04:00:00+00:00,529,Famine Early Warning System Network,News and Press Release,20.0
1,10419,[4590],[Coordination],The MFEWS Central America Weather Hazards and ...,Note: Document is two pages.,The MFEWS Central America Weather Hazards and ...,https://reliefweb.int/node/10419,17.22,-88.69,blz,Belize,2008-07-30T04:00:00+00:00,529,Famine Early Warning System Network,News and Press Release,21.0
2,10453,[4590],[Coordination],The MFEWS Central America Weather Hazards and ...,NOTE: Document is two pages.,The MFEWS Central America Weather Hazards and ...,https://reliefweb.int/node/10453,17.22,-88.69,blz,Belize,2008-08-06T04:00:00+00:00,529,Famine Early Warning System Network,News and Press Release,21.0
3,10506,[4590],[Coordination],Central America Weather Hazards Assessment: Au...,Note: Document is two pages,Central America Weather Hazards Assessment: Au...,https://reliefweb.int/node/10506,17.22,-88.69,blz,Belize,2008-08-14T04:00:00+00:00,529,Famine Early Warning System Network,News and Press Release,15.0
4,10657,[4590],[Coordination],Central America Weather Hazards Assessment: Au...,Note: Document is two pages,Central America Weather Hazards Assessment: Au...,https://reliefweb.int/node/10657,17.22,-88.69,blz,Belize,2008-08-28T04:00:00+00:00,529,Famine Early Warning System Network,News and Press Release,16.0